*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header{
    display: block;
    height: 5vh;
    text-align: center;
    color:black;
    background-color:#B6E2D3;
    border-radius: 0 40px 0 0;
    
}
.content{
    height: 95vh;
    display:flex;
}
.navigation{
    height: 95vh;
    width: 20%;
    background-color:#EF7C8E;
    border-radius: 0 0 0 40px;
}
.main{
    width: 100%;
}
aside{
    height: 80vh;
    text-align: center;
    align-items: center;
    background-color:#FAE8E0;
}
footer{
    text-align: center;
    
    height: 15vh;
    background-color: #D8A7B1;
}
.nav{
    margin-top: 30%;
}
.nav-item{
    margin-bottom: 20px;
}
.nav-link{
    color: aliceblue;
    background-color:coral;
    margin: bottom 50px; 
    padding: 30px;
    border-radius: 0 20px 0 20px;
    border: 1px solid black;
    font-weight:bolder;
}
.nav-link:hover{
    color: black;
    
    border:1px solid black;
}
