* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 15vh;
    text-align: center;
    color: black;
    background-color: #ff4c68;
    border-radius: 0 40px 0 0;

}
h2{
    display: inline;
    margin-top: 20px;
}
.nav-title{
    padding-left: 1rem;
    margin-top: 2rem;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder
}
.content {
    height: 85vh;
    display: flex;
}

.navigation {
    height: 85vh;
    width: 20%;
    background-color: #ff4c68;
    border-radius: 0 0 0 40px;
}

.main {
    width: 100%;
}

aside {
    height: 70vh;
    text-align: center;
    align-items: center;
    background-color: #FAE8E0;
}

footer {
    text-align: center;

    height: 15vh;
    background-color: #D8A7B1;
}

.nav {
    margin-top: 10%;
}

.nav-item {
    margin-bottom: 1px;
}

.nav-link {
    color: aliceblue;
    background-color: #37BEB0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin: 0 10px 20px 10px;
    padding: 30px;
    border-radius: 0 30px 0 30px;
    font-weight: bolder;
}
.dropdown-menu{
    background-color: #ff4c68;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}
.nav-link:hover {
    color: black;

}
#logo{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    border-radius: 90px 90px 90px 90px;
}